# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load the csv file from part 1
file = "../output_data/Clean_City_Data.csv"
clean = pd.read_csv(file)
# clean_df has a 'unnamed' column, so remove it so it looks better
#clean_df.head()
cleancities = clean.drop(columns=["Unnamed: 0"])
cleancities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,geraldton,-28.77,114.60,55.40,87,0,5.82,AU,1603304985
1,pishin,30.58,67.00,45.00,47,0,1.34,PK,1603305066
2,saint george,37.10,-113.58,64.40,17,1,3.36,US,1603304575
3,narrabri,-30.32,149.78,60.80,82,40,5.82,AU,1603305067
4,senanga,-16.12,23.27,81.25,16,23,7.18,ZM,1603305068

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Initiate variables
locations = cleancities[['Lat', 'Lng']].astype(float)
humidity = cleancities['Humidity'].astype(float)

In [4]:
# Add some specifications to heatmap
heatmap_specs = {
    'width': '1000px',
    'height': '500px',
    'margin': '0 auto 0 auto'
}

# Create map
fig = gmaps.figure(layout=heatmap_specs, zoom_level=2, center=(0,0))

# Add layer details
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=100, 
                                 point_radius=1)
fig.add_layer(heat_layer)

plt.savefig("../Images/humidty_heatmap.png")

fig

Figure(layout=FigureLayout(height='500px', margin='0 auto 0 auto', width='1000px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the DataFrame to find your ideal weather condition.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Set specifications
ideal_temp = (cleancities['Max Temp']>70) & (cleancities['Max Temp']<86)
ideal_wind = cleancities['Wind Speed']<10
ideal_humid = cleancities['Humidity']<50

# Collect all ideal specs
ideal_vaca = ideal_temp & ideal_wind & ideal_humid

# Create new df using collected specs
ideal_vaca_df = cleancities[ideal_vaca]
ideal_vaca_df = ideal_vaca_df.dropna()

# Limit the number of rows returned by your API requests to a reasonable number.
# I think this is what that means... by making sure only 7 rows are returned..
ideal_vaca_df.head(7)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,senanga,-16.12,23.27,81.25,16,23,7.18,ZM,1603305068
36,wadi maliz,36.47,8.55,75.20,27,20,5.82,TN,1603305078
55,castro,-24.79,-50.01,79.16,49,8,8.16,BR,1603304935
144,mecca,21.43,39.83,78.08,36,0,4.34,SA,1603305008
157,buraydah,26.33,43.98,75.20,23,0,4.70,SA,1603305109
191,bosaso,11.28,49.18,82.99,45,0,8.08,SO,1603305119
196,mount isa,-20.73,139.50,75.20,44,62,5.82,AU,1603304977

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Store into variable named hotel_df
# I think that means just change the name of the df..
hotel_df = ideal_vaca_df

# Add a "Hotel Name" column to the df
# Use empty quotes for initial value, since we don't have that data yet
hotel_df['Hotel Name'] = ""

hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,senanga,-16.12,23.27,81.25,16,23,7.18,ZM,1603305068,
36,wadi maliz,36.47,8.55,75.20,27,20,5.82,TN,1603305078,
55,castro,-24.79,-50.01,79.16,49,8,8.16,BR,1603304935,
144,mecca,21.43,39.83,78.08,36,0,4.34,SA,1603305008,
157,buraydah,26.33,43.98,75.20,23,0,4.70,SA,1603305109,

In [7]:
# Hit the Google Places API for each city's coordinates
# Set parameters dictionary to search for hotels with 5000 meters
params = {
    "radius": 5000, 
    "types": "hotels", 
    "keyword": "hotel", 
    "key": g_key}

# Start a for loop using iterrows 
for index, row in hotel_df.iterrows():
    
    # First, get the lat and long coords from our df
    lat = row['Lat']
    lng = row['Lng']
    
    # Add a location parameter using lat and long that we just iterrated through
    params['location'] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params).json()
    
    # Store the first Hotel result into the DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        
    except:
        print("Missing data")

Missing data
Missing data
Missing data
Missing data

In [8]:
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,senanga,-16.12,23.27,81.25,16,23,7.18,ZM,1603305068,Kashuwa Lodge
36,wadi maliz,36.47,8.55,75.20,27,20,5.82,TN,1603305078,HOPITAL
55,castro,-24.79,-50.01,79.16,49,8,8.16,BR,1603304935,Buganville Palace Hotel
144,mecca,21.43,39.83,78.08,36,0,4.34,SA,1603305008,Pullman Zamzam Makkah
157,buraydah,26.33,43.98,75.20,23,0,4.70,SA,1603305109,فندق براند القصيم

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add some specifications to heatmap
# This part reminds me of CSS, syntax is basicly identical, which makes sense since we are styling an image
heatmap_specs = {
    'width': '1000px',
    'height': '500px',
    'margin': '0 auto 0 auto'
}

# Add marker layer ontop of heat map
fig = gmaps.figure(layout=heatmap_specs, zoom_level=2, center=(0,0))

hotel_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(hotel_markers)

# Save figure
plt.savefig("../Images/hotel_heatmap.png")

# Display figure
fig

Figure(layout=FigureLayout(height='500px', margin='0 auto 0 auto', width='1000px'))